<div class="ui grid">
  <div class="three wide column"></div>
  <div class="ten wide column">
    <img src="/assets/img/cabecera.jpg">
    <div>
      <span>
        <a [routerLink]="['']">Home</a>
      </span>
      <span>
        <a [routerLink]="['grants']">Grants</a>
      </span>
      <span>
        <a [routerLink]="['grants', 'new']">New Grant</a>
      </span>
    </div>
    <router-outlet></router-outlet>

  </div>
  <div class="three wide column"></div>
</div>
